version: "2.4"
services:
  jansen_encoder:
    image: ghcr.io/karelbollegraaf/encodertestjansen:latest
    container_name: jansen_encoder
    restart: unless-stopped
    mem_limit: 55mb
    mem_reservation: 50mb
    environment:
      INFLUX_IP: "192.168.178.67"
      INFLUX_PORT: "8086"
      DB_NAME: "writetest"
      ENCODER_IP: "192.168.1.250"
      ENCODER_PORT: "502"
      PLC_IP: "192.168.1.15"
      PLC_PORT: "502"
      PLC_DEVICE_ID: "1"
      POLL_INTERVAL: "0.1"
      WRITE_INTERVAL: "1.0"
      MEASUREMENT: "cooverden_encoder"
    # If the IEM is Linux and you want easiest LAN access:
    # network_mode: host
