version: "2.4"
services:
  jansen_encoder:
    build: .
    container_name: jansen_encoder
    restart: unless-stopped
    mem_limit: 55mb
    mem_reservation: 50mb
    ports:
      - "8000:8000"
    volumes:
      - encoder_data:/data
    environment:
      DB_PATH: "/data/encoder.db"
      ENCODER_IP: "192.168.1.250"
      ENCODER_PORT: "502"
      PLC_IP: "192.168.1.15"
      PLC_PORT: "502"
      PLC_DEVICE_ID: "1"
      POLL_INTERVAL: "0.1"

volumes:
  encoder_data:
